bandit
black
extract_msg
flake8
Flask==2.0.2
isort
pandas==1.3.5
pre-commit
protobuf==3.20.1
pylint
pypdf2==2.11.1
pytest
pytest-cov
rasa==2.8.21
requests==2.27.1
scipy==1.8
waitress~=2.0.0
Werkzeug==2.0.2
fpdf